* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

section {
  height: 100vh;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  flex-direction: column;
  background-color: #375c80;
  color: #e7ebf0;
}

.logo {
  font-family: 'Lora', serif;
  font-size: 5rem;
  padding-bottom: 50px;
}

.summary {
  font-size: 1.4rem;
  max-width: 740px;
  margin-bottom: 40px;
}

.quote {
  font-style: italic;
  letter-spacing: 2px;
}

.black {
  background-color: #030404ff;
  color: rgb(34, 34, 34);
}

.golden {
  background-color: rgb(211, 185, 115);
  color: rgb(138, 120, 76);
}

.chocolate {
  background-color: #241914;
  color: #795e4d;
}

.white {
  background-color: #fcfdfd;
  color: rgb(190, 190, 190);
}
